<launch>


<!-- By default, we do not start a database (it can be large) -->
<arg name="db" default="false" />
<!-- Allow user to specify database location -->
<arg name="db_path" default="$(find youbot_moveit_config)/default_warehouse_mongo_db" />

<!-- By default, we are not in debug mode -->
<arg name="debug" default="false" />

<!-- Load the URDF, SRDF and other .yaml configuration files on the param server -->
<include file="$(find youbot_moveit_config)/launch/planning_context.launch">
	<arg name="load_robot_description" value="true"/>
</include>

<!-- If needed, broadcast static tf for robot root -->
<node pkg="tf" type="static_transform_publisher" name="virtual_joint_broadcaster_0" args="0 0 0 0 0 0 odom_combined base_footprint 100" />


<!-- We do not have a robot connected, so publish fake joint states -->
<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
	<param name="/use_gui" value="false"/>
	<rosparam param="/source_list">[/move_group/fake_controller_joint_states]</rosparam>
</node>




<node pkg="youbot_moveit_config" type="gui.py" name="gui" output="screen" >
</node>

<node pkg="youbot_moveit_config" type="fk.py" name="fk" output="screen" >
</node>	

<!-- there are two robot_state_publisher nodes in this script, one needs to go-->
<include file="$(find youbot_driver_ros_interface)/launch/youbot_driver.launch">

</include>

</launch>
